table {
    margin: 20px;
}

th,
td {
    border: 1px solid rgb(205, 3, 3);
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

h6 {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 20%;
    left: 45%;
    color: #db356d;
}

img{
    height: 100px;
}